{% extends 'master.html' %}
{% block body %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-default" role="alert">
        {{message}}
      </div>
    {% endfor %}
</ul>
{% endif %}


    <section id="form" style = "margin-left: 40%; margin-top: -8px;"><!--form-->
        <div class="container">
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2><b><u>New User Signup!</u></b></h2>
                    <form action="/signup/" method="post">
                        {% csrf_token %}
                        <p>Username:</p>
                        <input type="text" name='username' placeholder="Username"/ >
                        <p>Email:</p>
                        <input type="email" name='email' placeholder="Email Address"/ >
                        <p>Password:</p>
                        <input type="password" name='password1' placeholder="Password"/ >
                        <p>Confirm Your Password:</p>
                        <input type="password" name='password2' placeholder="Confirm Password"/ >
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </section><!--/form-->
{% endblock %}

